{{>header}}

<div class="row mr-0 justify-content-md-center align-items-center">
    <div class="col-sm-12 p-4">

        <h2> Bienvenido sus cursos </h2>
        <p>Seleccione el curso de su interés para ver las personas inscritas</p>
    </div>
</div>


{{{mostrarCursoDocente  listaCursos listaInscritos}}}


{{>footer}}